<!DOCTYPE html>
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/default}">

		<section layout:fragment="contents" class="d-flex justify-content-center">
			<div class="profile-box border border-1">
				<div class="d-flex justify-content-between">
					<div class="main-profile">
						<img class="mx-3 rounded-circle" width="130px" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png">
							
						<div th:if="${session.userId != null}" class="flex-column me-auto d-flex justify-content-center">
							<div th:text="${session.userLoginId}">닉네임</div>
							
							<div>아이디(이메일)</div>
							
							<div>INTRODUCE</div>
						</div>
					</div>
					
					<div>
						<div>프로필 수정</div>
						<button type="button" class="btn" id="profileEditBtn" data-bs-toggle="modal" data-bs-target="#profileEditModal">프로필 수정</button>
						
						<div class="modal fade" id="profileEditModal" tabindex="-1" aria-labelledby="profileEditLabel" aria-hidden="true">
							<div class="modal-dialog modal-dialog-centered">
							    <div class="modal-content">
							    	<div class="modal-header">
							        	<h5 class="modal-title" id="profileEditLabel">설정</h5>
							        	<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							     	</div>
							     	
							      	<div class="modal-body">
							       		<div class="border-bottom">프로필 변경</div>
							       		<div class="border-bottom">비밀번호 변경</div>
							       		<div>로그아웃</div>
							      	</div>
							    </div>
							</div>
						</div>
					</div>
				</div>
				
				<ul class="nav nav-fill">
					<li class="nav-item"><a href="#" class="nav-link nav-link-active">카테고리</a></li>
					<li class="nav-item"><a href="#" class="nav-link">카테고리</a></li>
					<li class="nav-item"><a href="#" class="nav-link">카테고리</a></li>
				</ul>
				
				<div class="user-post">
					<div>
					    <button id="prevMonth" class="btn">←</button>
				        <h5 id="currentMonth" class="d-inline">2025.1</h5>
				        <button id="nextMonth" class="btn">→</button>
					</div>
					<table id="calendar" class="table table-bordered">
		                <thead>
		                    <tr>
		                        <th>일</th>
		                        <th>월</th>
		                        <th>화</th>
		                        <th>수</th>
		                        <th>목</th>
		                        <th>금</th>
		                        <th>토</th>
		                    </tr>
		                </thead>
		                <tbody id="calendarDates">
		                    
		                </tbody>
		            </table>
				</div>
			</div>
		</section>
		
		<script layout:fragment="script">
		
		</script>
</html>