						<div class="modal-header">
				        	<h5 class="modal-title" id="postAddLabel">새 게시글 작성</h5>
				        	<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				     	</div>
				     	
				      	<div class="modal-body d-flex">
				      		<div class="sub-content border col-3">sdfsdf</div>
				      		
				      		<div class="main-content border col-9">
				      			<input type="text" class="border border-2 w-50" placeholder="제목">
				      			<input type="text" class="border border-2" placeholder="날짜">
				      			<input type="text" class="border border-2 w-100" placeholder="내용">
				      		</div>
				      	</div>
				      
				      	<div class="modal-footer">
				        	<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
				        	<button type="button" class="btn btn-primary" id="postSaveBtn">확인</button>
				      	</div>