						<div class="modal-header">
				        	<h5 class="modal-title" id="postAddLabel">새 게시글 작성</h5>
				        	<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				     	</div>
				     	
				     	<!-- modal body -->
				      	<div class="modal-body">
				      	
				      		<!-- modal 내용 -->
				       		<div>카테고리</div>
				       		<input type="text" class="w-100 border-0 border-bottom" id="postTitleInput">
				      	</div>
				      
				      	<!-- modal footer -->
				      	<div class="modal-footer">
				        	<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
				        	<button type="button" class="btn btn-primary" id="postSaveBtn">확인</button>
				      	</div>