<!DOCTYPE html>
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/default}">

		<section layout:fragment="contents" class="d-flex justify-content-center">
			<div class="mypage-box border border-1">
				
				<!-- 게시글이 없을때 안내문구 -->
				<div th:if="${postList == null or #lists.isEmpty(postList)}" >
					<p>게시글이 없습니다</p>
				</div>
				
				<!-- 게시물 목록 -->
				<div class="total-post" th:each="post:${postList}">
					
					<!-- 게시글에 해당하는 카테고리 이름 -->
					<div th:text="${categoryName}" class="mx-3 mt-4" style="font-size: 14px;">카테고리 이름</div>
					
					<!-- 프로필 -->
					<div class="d-flex justify-content-between mx-3 mt-2">
						<div class="d-flex"  style="height: 35px;">
							<img class="me-2 rounded-circle" height="35px" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png">
								
							<div>
								<div th:text="${post.loginId}" style="font-size: 14px;">닉네임</div>
								
								<div style="font-size: 11px;">게시 날짜</div>
							</div>
						</div>
						
						<div class="d-flex align-items-center mt-2">
							<i class="fi fi-rr-menu-dots-vertical"></i>
						</div>
					</div>
					
					<!-- 게시글 -->
					<div class="p-2">
						<div th:text="${post.title}">제목</div>
						
						<div th:text="${post.content}" >내용</div>
						
						<div class="my-2">
							<img th:src="${post.imagePath}" height="150px">
						</div>
					</div>
					
					<!-- 좋아요, 댓글 이모지 -->
					<div class="d-flex p-2 gap-3">
						<div>
							<i class="fi fi-tr-heart"></i>
							<i class="fi fi-br-heart"></i>
							12
						</div>
						
						<div class="">
							<i class="fi fi-rr-comment-alt-middle"></i>
							19
						</div>
					</div>
					
					<!-- 댓글 -->
					<div class="d-flex mx-3">
						<img class="me-2 rounded-circle" height="35px" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png">
						
						<div class="d-flex flex-column">
							<div class="d-flex">
								<div th:text="${post.loginId}" style="font-size: 14px;">댓글 닉네임</div>
									
								<div class="ms-1" style="font-size: 11px;">댓글 작성 날짜</div>
							</div>
							
							<div>
								<div>
									댓글 내용
								</div>
								
								<div>
									<input type="text">
									<button type="button">입력</button>
								</div>
							</div>
						</div>
					</div>
					
					<div class="border-top my-3 mx-2"></div>
					
				</div>
			</div>
		</section>
		
		<script layout:fragment="script">
			
		</script>
</html>