<!DOCTYPE html>
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/default}">

			<section layout:fragment="contents" class="d-flex justify-content-center align-items-center">
				<div class="input-box border border-1 p-5">
					<p class="fs-3">로그인</p>
					
					<input type="text" class="form-control" placeholder="아이디">
					<input type="password" class="form-control mt-3" placeholder="비밀번호">
					
					<p class="fs-6 text-end mt-2"><a href=#>비밀번호를 잊으셨나요?</a></p>
					
					<div class="d-flex justify-content-center mt-5">
						<button type="button" class="btn btn-secondary">로그인</button>
					</div>
					
					
				</div>
			</section>
</html>