<!DOCTYPE html>
<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/only-content}">

		<section layout:fragment="contents" class="d-flex justify-content-center align-items-center">
			<div class="input-box border border-1 p-5">
				<p class="fs-3">로그인</p>
				
				<form id="loginForm">
					<input type="text" class="form-control" id="idInput" placeholder="아이디">
					<div class="small text-danger d-none" id="idError">아이디를 입력하세요</div>
					
					<input type="password" class="form-control mt-3" id="passwordInput" placeholder="비밀번호">
					<div class="small text-danger d-none" id="passwordError">비밀번호를 입력하세요</div>
					
					<p class="fs-6 text-end mt-2" ><a href="#" style="text-decoration: none;">비밀번호를 잊으셨나요?</a></p>
					
					<div class="d-flex justify-content-center mt-4">
						<button type="submit" class="btn w-100" style="background-color: #2D3047; color: white;">로그인</button>
					</div>
					
					<div class="mt-4 d-flex justify-content-center">
						<div class="me-2">계정이 없으신가요? </div>
						<a href="/user/signup-view" style="text-decoration: none;">회원가입</a>
					</div>
				</form>
			</div>
		</section>
		
		<script layout:fragment="script">
		
		$(document).ready(function() {
			
			// 로그인
			$("#loginForm").on("submit", function (e) {
				
				e.preventDefault(); 
				
				let id = $("#idInput").val();
				let password = $("#passwordInput").val();
				
				if(id == "") {
					$("#idError").removeClass("d-none");
				} else {
					$("#idError").addClass("d-none");
				}
				
				if(password == "") {
					$("#passwordError").removeClass("d-none"); 
					return;
				} else {
					$("#passwordError").addClass("d-none");
				}
				
				$.ajax({
					type:"post"
					, url:"/user/login" 
					, data:{"loginId":id, "password":password}
					, success:function(response) {
						console.log(response);
						if(response.result == "success") {
							location.href = "/user/mypage-view";
						} else {
							alert("로그인 실패!");
						}
					}
					, error:function() {
						alert("로그인 에러");
					}
				});
			});
		});
		</script>
</html>