	<aside class="d-flex align-items-center flex-column">
	
		<div class="profile d-flex mt-3">
			<img class="profile-thumbnail me-2" src="https://media.istockphoto.com/id/1967994177/ko/%EC%82%AC%EC%A7%84/cute-corgi-dog-in-a-wildflower-cage-sits-on-a-summer-sunny-meadow.jpg?s=1024x1024&w=is&k=20&c=z_Ovm07iBS4_TMa0THM7ZnvG_uujYGK4FBeTtKYuI54=">
			
			<div class="flex-column me-auto d-flex justify-content-center">
				<div>LOGIN.ID</div>
				
				<div>INTRODUCE</div>
			</div>
			
			<div class="dropdown d-flex justify-content-center">
				<button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
					<i class="fi fi-br-menu-burger"></i>
				</button>
				
				<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
			    	<a class="dropdown-item" href="#">로그아웃</a>
			  	</div>
			</div>
		</div>
		
		<div class="search"></div>
		
		<div class="categoty-keyword-list"></div>
		
		<div class="user-recommend-keyword"></div>
	</aside>