	<aside class="d-flex align-items-center flex-column">
	
		<div class="profile d-flex">
			<img class="profile-thumbnail" src="https://media.istockphoto.com/id/1967994177/ko/%EC%82%AC%EC%A7%84/cute-corgi-dog-in-a-wildflower-cage-sits-on-a-summer-sunny-meadow.jpg?s=1024x1024&w=is&k=20&c=z_Ovm07iBS4_TMa0THM7ZnvG_uujYGK4FBeTtKYuI54=">
			
			<div class="flex-column">
				<div class="bg-primary">로그인 아이디</div>
				
				<div class="bg-info">자기소개</div>
			</div>
			
			<div class="bg-success">설정 버튼</div>
		</div>
		
		<div class="search"></div>
		
		<div class="categoty-keyword-list"></div>
		
		<div class="user-recommend-keyword"></div>
	</aside>