<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    
		<header th:fragment="header">
			<div class="logo">
				<div>로고</div>
			</div>
			
			<div class="categotry flex-column">
				<div class="categotry-list" id="categoryList"><a href="#">카테고리1</a></div>
			</div>
			
			<!-- 추가 버튼 -->
			<button type="button" class="btn btn-secondary" id="categoryAddBtn" data-bs-toggle="modal" data-bs-target="#categoryAddModal">+</button>
			
			<!-- 모달 -->
			<div class="modal fade" id="categoryAddModal" tabindex="-1" aria-labelledby="categoryAddLabel" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered">
				    <div class="modal-content">
				    	<div class="modal-header">
				        	<h5 class="modal-title" id="categoryAddLabel">카테고리 추가</h5>
				        	<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				     	</div>
				     	
				      	<div class="modal-body">
				       		<div>카테고리</div>
				       		<input type="text" class="w-100 border-0 border-bottom" id="categoryTitleInput">
				      	</div>
				      
				      	<div class="modal-footer">
				        	<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
				        	<button type="button" class="btn btn-primary" id="categorySaveBtn">확인</button>
				      	</div>
				    </div>
				</div>
			</div>
		</header>
		
		<script th:block th:fragment="script">
		
		$(document).ready(function() {
			
			$("#categorySaveBtn").on("click", function() {
				
				let categoryList = $("#categoryList").val();
				let categoryAddBtn = $("#categoryAddBtn").val();
				let categoryTitleInput = $("#categoryTitleInput").val();
				
				if(categoryTitleInput == "") {
					alert("카테고리 제목을 작성하세요");
					return;
				}
			
				$.ajax({
					type:"post"
					, url:"/category/create"
					, data:{"name":name}
					, success:function(response) {
						
					}
				});
			});
			
			
		});
		
		</script>
</html>