<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    
		<header th:fragment="header">
			<div class="logo">
				<div>로고</div>
			</div>
			
			<!-- 카테고리 목록 -->
			<div class="list-group category flex-column mb-2" id="categoryList">
				<a href="/post/total-view" class="category-home list-group-item list-group-item-action" th:classappend="${currentUri == '/post/total-view'} ? 'active' : ''" th:attr="aria-current=${currentUri == '/post/total-view'} ? 'true' : 'false'"><i class="fi fi-rs-home "></i> 홈</a>
				<a th:each="category : ${categoryList}" th:href="@{/category/{categoryId}(categoryId=${category.categoryId})}" th:text="${category.name}" class="list-group-item list-group-item-action" th:classappend="${currentUri == '/category/' + category.categoryId} ? 'active' : ''" th:attr="aria-current=${currentUri == '/category/' + category.categoryId} ? 'true' : 'false'"></a>
			</div>
			
			<div class="d-flex gap-2 mx-1">
				<!-- 카테고리 추가 버튼 -->
				<button type="button" class="btn btn-secondary flex-fill" id="categoryAddBtn" data-bs-toggle="modal" data-bs-target="#categoryAddModal" style="background-color: #2D3047;">카테고리 +</button>
				
				<!-- 글 추가 버튼 -->
				<button type="button" class="btn btn-secondary flex-fill" id="postAddBtn" data-bs-toggle="modal" data-bs-target="#postAddModal" style="background-color: #2D3047;">글 +</button>
			</div>
			
			<!-- 카테고리 추가 모달 -->
			<div class="modal fade" id="categoryAddModal" tabindex="-1" aria-labelledby="categoryAddLabel" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered">
				    <div class="modal-content">
				    	<div class="modal-header pb-2">
				        	<h4 class="modal-title pt-2" id="categoryAddLabel">카테고리 추가</h4>
				        	<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				     	</div>
				     	
				      	<div class="modal-body mx-1">
				       		<div class="fs-5">카테고리 이름</div>
				       		<input type="text" class="w-100 border-0 border-bottom mt-3" id="categoryTitleInput" placeholder="카테고리 이름을 입력하세요">
				      	</div>
				      
				      	<div class="modal-footer">
				        	<button type="button" class="btn" data-bs-dismiss="modal" style="background-color: #93B7BE;">취소</button>
				        	<button type="button" class="btn" id="categorySaveBtn" style="background-color: #2D3047; color: white;">확인</button>
				      	</div>
				    </div>
				</div>
			</div>
			
			<!-- 글 추가 모달 -->
			<div class="modal fade" id="postAddModal" tabindex="-1" aria-labelledby="postAddLabel" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered modal-lg">
					<div class="modal-content">
				       	
				       	<div class="modal-header pb-2">
				        	<h4 class="modal-title pt-2" id="postAddLabel">새 게시글 작성 <i class="fi fi-rr-add-image"></i></h4>
				        	<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				     	</div>
				     	
				      	<div class="modal-body mx-1">
				      		<!-- 왼쪽 위 -->
				      		<div>
								<select class="form-select form-select-sm mb-2" id="categoryId" style="width: 150px;">
									<option selected>전체</option>
									<option th:each="category : ${categoryList}" name="categoryId" th:text="|${category.name} id=${category.categoryId}|" th:value="${category.categoryId}"></option>
								</select>
				      		</div>
				      		
				      		<!-- 왼쪽 -->
				      		<div class="d-flex">
				      			<div class="sub-content border col-4 d-flex justify-content-center flex-column">
				      				<div style="width: 100px; height: 200px;">
				      					<div id="photoInputButton">
					      					<input type="file" id="photoInput" multiple="multiple">
				      					</div>				      					
				      				</div>
				      				
				      				<div class="d-flex">
				      					<div class="bg-success w-50">간략한 내용 / DAY</div>
				      					<div class="bg-info w-50">N차 관람</div>
				      				</div>
				      				
				      				<div class="d-flex">
				      					<div class="bg-danger w-50">별점</div>
				      					<div class="bg-warning w-50">기분</div>
			      					</div>
				      			</div>
				      			
				      			<!-- 오른쪽 -->
					      		<div class="main-content border col-8">
					      			<input type="text" id="titleInput" placeholder="제목" style="width:340px;">
					      			<input type="text" id="dateInput" placeholder="날짜" name="itemDate" style="width:160px;">
					      			<textarea rows="2" class="form-control" id="contentInput" placeholder="내용"></textarea>
					      								      			
						      		<div class="d-flex">
						      			<div class="bg-info w-50">장소</div>
						      			<div class="bg-primary w-50">누구랑</div>
						      		</div>
					      		</div>
					      		
				      		</div>
				      	</div>
				      
				      	<div class="modal-footer">
				        	<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
				        	<button type="button" class="btn btn-primary" id="postSaveBtn">확인</button>
				      	</div>
					</div>
				</div>
			</div>
		</header>
		
		<script th:block th:fragment="script">		
		
		$(document).ready(function() {
			
			$("#dateInput").datepicker({
				dateFormat:"yy. m. d"
				, changeMonth: false
		        , dayNamesMin : ['월','화','수','목','금','토','일']
		        , monthNames :  [ "1월", "2월", "3월", "4월", "5월", "6월","7월", "8월", "9월", "10월", "11월", "12월" ]
		        , showOtherMonths:true
		        , showMonthAfterYear: true
		        , yearSuffix: "년"
			});

			$("#categorySaveBtn").on("click", function() {
				
				let categoryTitle = $("#categoryTitleInput").val();
				
				if(categoryTitle == "") {
					alert("카테고리 제목을 작성하세요");
					return;
				}
				
				$('#categoryAddBtn').on('click', function() {
	                $('#categoryTitleInput').val('');
	            });
				
				$('#categoryAddModal').modal('hide');
				
				$.ajax({
					type:"post"
					, url:"/category/create"
					, data:{"name":categoryTitle}
					, success:function(response) {
						if(response.result == "success") {
							location.reload();
						} else {
							alert("카테고리 생성 실패");
						}
					}
					, error:function() {
						alert("카테고리 생성 에러");
					}
				});
			});
			
			$("#postSaveBtn").on("click", function() {
				
				let categoryId = $("#categoryId").val();
				let title = $("#titleInput").val();
				let content = $("#contentInput").val();
				let photo = $("#photoInput")[0].files[0];
				let itemDate = $("#dateInput").val();
				
				if(title == "") {
					alert("제목을 입력하세요");
					return;
				}
				
				if(content == "") {
					alert("내용을 입력하세요");
					return;
				}
				
				if(itemDate == "") {
					alert("날짜를 선택하세요");
					return;
				}
				
				let formData = new FormData();
				
				formData.append("categoryId", categoryId);
				formData.append("title", title);
				formData.append("content", content);
				formData.append("imagePath", photo);
				formData.append("itemDate", itemDate);
				
				$('#postAddBtn').on('click', function() {
	                $('#categoryId').val('');
	                $('#titleInput').val('');
	                $('#contentInput').val('');
	                $('#photoInput').val('');
	                $('#dateInput').val('');
	            });
				
				$('#postAddModal').modal('hide');
				
				$.ajax({
					type:"post"
					, url:"/post/create"
					, data:formData
					, enctype:"multipart/form-data"
					, processData:false
					, contentType:false
					, success:function(response) {
						if(response.result == "success") {
							alert("게시 성공");
						} else {
							alert("게시 실패");
						}
					}
					, error:function() {
						alert("게시 에러");
					}
				});
			});
			
/* 			$("#photoInputButton").on("click", function() {
				$("#photoInput").click();
			}); */
			
		});
		</script>
</html>