@charset "UTF-8";

#wrap {
	width: 100%;
  	max-width: 1200px;
	margin: 0 auto;
}

header {
	width: 250px;
	height: 800px;
	/* background-color: #EEEEEE; */
	border: 0.5px solid #EEEEEE;
}

header > .logo {
	width: 250px;
	height: 100px;
	background-color: #CCCCCC;
}

section {
	width: 700px;
	height: 800px;
	margin: 0 auto;
}

section > .input-box {
	width: 430px;
	margin: 0 auto;
	position: relative;
}

section > .profile-box {
	width: 600px;
	height: 800px;
	margin: 0 auto;
	position: relative;
}

.main-profile {
	width: 600px;
	height: 200px;
}

.profile-box > .nav {
	width: 600px;
	height: 50px;
}

.nav-link {
	border-bottom: 2px solid black;
	color: green;
}

.profile-box > .user-post {
	width: 600px;
	height: 450px;
}

aside {
	width: 250px;
	height: 800px;
	/* background-color: #EEEEEE; */
	border: 0.5px solid #EEEEEE;
}

aside > .change {
	width: 200px;
	/* height: 200px; */
}

.search {
	width: 150px;
	height:30px;
	background-color: #f2f2f2;
}

 .profile {
	width: 50px;
	height: 30px;
	font-size: 10px;
	margin-top: 9px;
}

.profile-thumbnail {
	width: 25px;
	height: 25px;
	overflow: hidden;
	object-fit: cover;
	border-radius: 100%;
}

aside > .categoty-keyword-list {
	width: 200px;
	border-radius: 8px;
}

aside > .user-recommend-keyword {
	width: 200px;
	border-radius: 8px;
}

.recommend-keyword > .keyword {
	background-color: silver;
	word-break: keep-all;
	overflow-wrap: break-word;
	padding : 2px 9px;
	border-radius: 20px;
	display: inline-block;
	margin-bottom: 5px;
}

#wrap > .home-screen {
	width: 600px;
	height: 800px;
}

.home-screen > .home-logo {
	width: 250px;
	height: 170px;
}

#wrap > .home-screen > .home-btn1 {
	width: 350px;
	height: 50px;
	background-color: #2D3047;
	color: white;
}

#wrap > .home-screen > .home-btn2 {
	width: 350px;
	height: 50px;
	background-color: #93B7BE;
}

.dropdown-toggle::after {
	display: none;
}

.dropdown-toggle:focus {
  outline: none;
  box-shadow: none;
}

.dropdown-toggle:hover {
  background-color: #FFFFFF;
}

.modal-header, .modal-footer {
    border: none;
}