@charset "UTF-8";

#wrap {
	width: 1200px;
	height: 800px;
	margin: 0 auto;
}

header {
	width: 250px;
	height: 800px;
	background-color: #EEEEEE;
}

header > .logo {
	width: 250px;
	height: 100px;
	background-color: #CCCCCC;
}

section {
	width: 700px;
	height: 800px;
}

section > .input-box {
	width: 430px;
	height: 450px;
}

aside {
	width: 250px;
	height: 800px;
	background-color: #EEEEEE;
}

aside > .profile {
	width: 200px;
	height:50px;
	font-size: 10px;
}

.profile > .profile-thumbnail {
	width: 50px;
	height: 50px;
	overflow: hidden;
	object-fit: cover;
	border-radius: 100%;
}

aside > .search {
	width: 200px;
	height:30px;
	background-color: #CCCCCC;
}

aside > .categoty-keyword-list {
	width: 200px;
	height:200px;
	background-color: #BBBBBB;
}

aside > .user-recommend-keyword {
	width: 200px;
	height:200px;
	background-color: #AAAAAA;
}

#wrap > .home-screen {
	width: 600px;
	height: 800px;
}

#wrap > .home-screen > .home-btn {
	width: 400px;
	height: 50px;
}

.dropdown-toggle::after {
	display: none;
}

.dropdown-toggle:focus {
  outline: none;
  box-shadow: none;
}

.dropdown-toggle:hover {
  background-color: #FFFFFF;
}
